@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #686de0;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
}

.card {
  width: 80rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 5rem 2rem;
  text-align: center;
  max-width: 100%;

  & h3 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
  }

  & .joke {
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 4rem;
    margin: 5rem auto;
    max-width: 60rem;
  }

  & .btn {
    background-color: #9f68e0;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 1.4rem 4rem;
    font-size: 1.6rem;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
