@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 1rem;
}

.testimonial-container {
  background-color: #476ce4;
  color: #fff;
  border-radius: 1.5rem;
  margin: 2rem auto;
  padding: 5rem 8rem;
  max-width: 76.8rem;
  position: relative;

  & .progress-bar {
    background-color: #fff;
    height: 0.4rem;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
    margin-bottom: 1rem;
  }

  & .fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 2.8rem;
    position: absolute;
    top: 7rem;
  }

  & .fa-quote-right {
    left: 4rem;
  }
  & .fa-quote-left {
    right: 4rem;
  }

  & .testimonial {
    line-height: 2.6rem;
    text-align: justify;
    font-size: 1.5rem;
  }

  & .user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    & .user-image {
      border-radius: 50%;
      object-fit: cover;
      height: 7.5rem;
      width: 7.5rem;
    }

    & .user-details {
      margin-left: 1rem;
    }

    & .username {
      margin: 0;
      font-size: 1.5rem;
    }

    & .role {
      font-weight: normal;
      margin: 1rem 0;
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 48em) {
  .testimonial-container {
    padding: 2rem 3rem;
  }

  .fa-quote {
    display: none;
  }
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}
